<div
  class="row"
  style="margin-bottom: 300px;"
>
  <div class="col">
    <div class="f-modal-alert">
      <div class="f-modal-icon f-modal-error animate">
        <span class="f-modal-x-mark">
          <span class="f-modal-line f-modal-left animateXLeft"></span>
          <span class="f-modal-line f-modal-right animateXRight"></span>
        </span>
        <div class="f-modal-placeholder"></div>
        <div class="f-modal-fix"></div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 text-white btn-danger">
      <h3><b>Payment is Failed!</b></h3>
    </div>

  </div>
</div>
