
  <div class="card card-pricing ">
    <!-- <h6 class="card-category"> Small Company</h6> -->
    <div class="card-body">
      <div class="card-icon icon-rose ">
        <i class="material-icons">{{plan.icon}}</i>
      </div>
      <h3 class="card-title">{{plan.title}}</h3>
      <p class="card-description">{{plan.decription}}</p>
    </div>
    <div class="card-footer justify-content-center ">
      <a (click)="buy()" class="btn btn-round btn-rose">{{'Choose Plan' | translate}}</a>
    </div>
  </div>