
  <div class="card card-pricing ">
    <h5 class="card-category text-dark"><b>{{plan.name}}</b></h5>
    <div class="card-body">
      <div class="card-icon icon-rose ">
        <i class="material-icons">{{plan.icon || 'weekend'}}</i>
      </div>
      <h5 class="card-description mt-3">{{plan.price}} {{'paymentPlans.unit' | translate}}</h5>
      <h3 class="card-description text-dark">{{plan.dateRange}} {{'paymentPlans.days' | translate}}</h3>
      <p class="card-description">{{plan.description}}</p>
    </div>
    <div class="card-footer justify-content-center " style="display: block;">
      <div *ngIf="hasEditPlanPermission || hasDeletePlanPermission;else showBrand" class="stats">
          <button *ngIf="hasEditPlanPermission"  (click)="editPaymentPlan(plan.id)" mat-raised-button class="btn btn-link btn-info">
                <i class="material-icons">edit</i>
          </button>
          <button *ngIf="hasDeletePlanPermission"  (click)="deletePaymentPlan(plan.id)" mat-raised-button class="btn btn-danger btn-link">
                <i class="material-icons">delete</i>
          </button>
        </div>
        <ng-template #showBrand><span class="btn btn-link btn-info">{{'paymentPlans.plan' | translate}}</span></ng-template>
        <div>
        <button (click)="buy()" class="btn btn-round btn-info text-white">{{'Choose Plan' | translate}}</button>
      </div>
    </div>
  </div>
