<div class="row">
  <div class="col-md-4" *ngFor="let app of applications | async">
    <div class="card">
        <div class="card-header card-header-image">
          <a  [href]=" hasReadAppPermission ? app.url : ''">
            <img class="img" src="{{app.picture}}" />
          </a>
        </div>
        <div class="card-body">
          {{app.description | translate}}
        </div>
        <div class="card-footer" *ngIf="'hasPermission'">
          <div *ngIf="hasReadAppPermission" class="stats">
            <a class="btn btn-primary btn-sm" href="{{app.url}}">{{'application.open' | translate}}</a>
          </div>
              <div class="stats">
                <button *ngIf="hasEditAppPermission" mat-raised-button class="btn btn-link btn-info">
                  <i class="material-icons">edit</i>
                </button>
                <button *ngIf="hasDeleteAppPermission" mat-raised-button class="btn btn-danger btn-link">
                  <i class="material-icons">delete</i>
                </button>
              </div>
          </div>
        </div>
    </div>

<div *ngIf="hasCreatAppPermission" class="col-md-4">
  <div class="card">
    <i
    *ngIf="!appFormUP"
    class="material-icons"
    style="font-size: 190px; margin: 70px auto; color:darkgreen;cursor: pointer;"
    (click)="createAppFormUP()"
    >
      add
    </i>
    <app-add-or-update-application *ngIf="appFormUP" (closeAppForm)="closeAppForm()"></app-add-or-update-application>
  </div>
</div>
