<button class="col-md-12 btn btn-google bg-gradient-secondary  " (click)="goToPlans()">
  <img class="img-fluid" src="../../../../assets/img/premium-600-2.png" alt="" />
  <div class="text-center text-white text-heading">
    <br>
    <br>
    <span><h2><b>{{'application.Get Premium'| translate}}</b></h2></span>
    <!-- <span *ngIf="user && user.remainingDays == 0">
      همین الان به کاربر حرفه ای تبدیل شوید</span
    > -->
    <!-- <div style="margin-top: 52px;" *ngIf="user && user.remainingDays != 0">
      حساب خود را تمدید کنید
    </div> -->
  </div>
</button>
