<div
class="col-md-12 mt-1 card card-shadow"
>
  <div class="card-content mb-1 text-center">
    <img
      class="img-fluid"
      src="../../../../assets//img//calendar.png"
    />
    <br>
    <div class="text-center text-heading">
      <h3><b> {{'application.Your account has'| translate}}</b>
      <h2 style="color: darkred; font-weight: bold;">
        {{ user.remainingDays }}
      </h2><b>{{day}} {{'application.remain'| translate}}</b>
    </h3>
    </div>
  </div>
</div>
<!-- <app-expired *ngIf="user && user.remainingDays == 0"></app-expired> -->
